{% extends 'base.html' %}



{% block content %}

<h1 style="color: antiquewhite;">About Page..</h1>
<br>
<br>
<div class="containter">
    <div class="box">
        <div class="content">
            <h2>01</h2>
            <h3>libraries Used</h3>
            <p>this project was made with Django and open-weather API</p>
        </div>
    </div>
</div>
<div class="containter">
    <div class="box">
        <div class="content">
            <h2>02</h2>
            <h3>For India only</h3>
            <p>this project right now supports India only. In future it will support other countries too.</p>
        </div>
    </div>
</div>
<div class="containter">
    <div class="box">
        <div class="content">
            <h2>03</h2>
            <h3>Code</h3>
            <p>The source is available on github. just click below to go...</p>
        </div>
    </div>
</div>
<div class="containter">
    <div class="box">
        <div class="content">
            <h2>04</h2>
            <h3>Information</h3>
            <p>This project has a limitation of 60 calls per hour. And refresh after 10 minutes.</p>
        </div>
    </div>
</div>


{% endblock %}
 